@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #031988; /* The official Minecraft grass color */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background-color: #0e09a4;
}